html{
	background-color:#fefefe;
	
}
.main-view{
	width:100%;
}

header{
	margin: 5px;
	
}
footer{
	text-align: center;
	padding-top:30px;
	color:#1576f3;
	border-top:1px solid #B1AFAE;
}

vaadin-horizontal-layout{
	    max-width: 100%;
    flex-wrap: wrap;
}



.patient{
	background-color:#1576f3;
	color:#ffffff;
	padding:10px 5px;
	
}

.patient label:nth-child(2n){
	  font-weight: bold;
}
