.main-view {
    display: flex;
    flex-direction: column;
    background: hotpink;
}

.center {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background: aquamarine;
}

.subHeader1 {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background: red;
}

.subHeader2 {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background: green;
}

.navbar {
    flex: 1;
    min-width: 200px;
    background: antiquewhite;
}

.content {
    flex: 4;
    min-width: 500px;
    background: aqua;
}

.btn {
    background: blueviolet;
    color: greenyellow;
    width: 500px;
}